$white:#fff;
 $grey: #999;
 @import url(http://fonts.googleapis.com/css?family=News+Cycle);
 .top {
    font: 1.1em'News Cycle', sans-serif;
    padding: 1%;
    background: $grey;
    color:$white;
    margin-bottom: 1%;
    a {
        text-decoration: none;
        color:$white;
    }
    ul > li {list-style:none;}
}
.menu-item-has-children {
    &:before {
        content:"+ ";
        color: $white;
    }
}
.current {
    &:before {
        content:"- ";
    }
}
.menu-item-has-children {
    margin-left: 2%;
}
.sub-menu {
    li {
        margin-left: 2%;
    }
}