{% extends 'index.html' %}
{% block product %}
<section class="elementor-section elementor-inner-section elementor-element elementor-element-54a3d4b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="54a3d4b" data-element_type="section" id="portfolioset">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fd47bc8" data-id="fd47bc8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-1064470 elementor-widget elementor-widget-text-editor" data-id="1064470" data-element_type="widget" id="portfoliototal" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p style="text-align: center;"><b><i>PORTFOLIO</i></b></p><p style="text-align: center;">&lt;<strong><em>Total enabled portfolios</em></strong>&gt;</p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-3d27852 elementor-widget elementor-widget-text-editor" data-id="3d27852" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p><b><i>Assign Portfolio &#8211; Products, Data types, Operational Rights and Roles to Members</i></b></p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-fa4a9bb elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="fa4a9bb" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
  <div class="elementor-widget-container">
  <form class="elementor-form" method="post" name="New Form">
  <input type="hidden" name="post_id" value="5880"/>
  <input type="hidden" name="form_id" value="fa4a9bb"/>
  <input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />
  
      <input type="hidden" name="queried_id" value="5880"/>
  
  <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-member_type elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-member_type" class="elementor-field-label">
        Select Member Type							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[member_type]" id="form-field-member_type" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Owner">Owner</option>
          <option value="Team Member">Team Member</option>
          <option value="User">User</option>
          <option value="Public">Public</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-member elementor-col-100 elementor-field-type-select-multiple elementor-field-required elementor-mark-required">
                <label for="form-field-member" class="elementor-field-label">
        Select Member							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[member][]" id="form-field-member" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true" multiple="" size="10">
          <option value="Member 01">Member 01</option>
          <option value="Member 02">Member 02</option>
          <option value="Member 03">Member 03</option>
          <option value="Member 04">Member 04</option>
          <option value="Member 05">Member 05</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-product elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-product" class="elementor-field-label">
        Select Product							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[product]" id="form-field-product" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Product 01">Product 01</option>
          <option value="Product 02">Product 02</option>
          <option value="Product 03">Product 03</option>
          <option value="Product 04">Product 04</option>
          <option value="Product 05">Product 05</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-data_type elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-data_type" class="elementor-field-label">
        Select Data Type							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[data_type]" id="form-field-data_type" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Real Data">Real Data</option>
          <option value="Learning Data">Learning Data</option>
          <option value="Testing Data">Testing Data</option>
          <option value="Archived Data">Archived Data</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-op_rights elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-op_rights" class="elementor-field-label">
        Select Operational Rights							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[op_rights]" id="form-field-op_rights" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="View">View</option>
          <option value="Add/Edit">Add/Edit</option>
          <option value="Delete">Delete</option>
          <option value="Admin">Admin</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-role elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-role" class="elementor-field-label">
        Select Roles							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[role]" id="form-field-role" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Role 01">Role 01</option>
          <option value="Role 02">Role 02</option>
          <option value="Role 03">Role 03</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-portfolio_name elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-portfolio_name" class="elementor-field-label">
        Portfolio Name							</label>
                    <input size="1" type="text" name="form_fields[portfolio_name]" id="form-field-portfolio_name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Portfolio name" required="required" aria-required="true">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-portfolio_code elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-portfolio_code" class="elementor-field-label">
        Portfolio Code (Unique)							</label>
                    <input size="1" type="text" name="form_fields[portfolio_code]" id="form-field-portfolio_code" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Portfolio Code" required="required" aria-required="true">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-portfolio_spec elementor-col-100">
                <label for="form-field-portfolio_spec" class="elementor-field-label">
        Portfolio Specification							</label>
                    <input size="1" type="text" name="form_fields[portfolio_spec]" id="form-field-portfolio_spec" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Portfolio Specifications">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-portfolio_u_code elementor-col-100">
                <label for="form-field-portfolio_u_code" class="elementor-field-label">
        Portfolio Universal Code							</label>
                    <input size="1" type="text" name="form_fields[portfolio_u_code]" id="form-field-portfolio_u_code" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Portfolio universal code">
              </div>
        <div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-portfolio_det elementor-col-100">
                <label for="form-field-portfolio_det" class="elementor-field-label">
        Portfolio Details							</label>
    <textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[portfolio_det]" id="form-field-portfolio_det" rows="4" placeholder="Portfolio details"></textarea>				</div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
  <button type="submit" class="elementor-button elementor-size-md" id="createportfolio">
    <span >
                      <span class=" elementor-button-icon">
                                            </span>
                                    <span class="elementor-button-text">Create Portfolio</span>
                  </span>
  </button>
  </div>
  </div>
  </form>
  </div>
  </div>
    </div>
  </div>
  </div>
  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-da72f6d" data-id="da72f6d" data-element_type="column">
  <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-dd908df elementor-widget elementor-widget-text-editor" data-id="dd908df" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p><b><i>Show Assigned Portfolios, Search in Portfolios</i></b></p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-4669e7e elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="4669e7e" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
  <div class="elementor-widget-container">
  <form class="elementor-form" method="post" name="New Form">
  <input type="hidden" name="post_id" value="5880"/>
  <input type="hidden" name="form_id" value="4669e7e"/>
  <input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />
  
      <input type="hidden" name="queried_id" value="5880"/>
  
  <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-membertypesearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-membertypesearch" class="elementor-field-label">
        Member Type							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[membertypesearch][]" id="form-field-membertypesearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Owner">Owner</option>
          <option value="Team Member">Team Member</option>
          <option value="User">User</option>
          <option value="Public">Public</option>
          <option value=""></option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-membersearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-membersearch" class="elementor-field-label">
        Member							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[membersearch][]" id="form-field-membersearch" class="elementor-field-textual elementor-size-sm" multiple="" size="5">
          <option value="Member 01">Member 01</option>
          <option value="Member 02">Member 02</option>
          <option value="Member 03">Member 03</option>
          <option value="Member 04">Member 04</option>
          <option value="Member 05">Member 05</option>
          <option value=""></option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-productsearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-productsearch" class="elementor-field-label">
        Product							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[productsearch][]" id="form-field-productsearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Product 01">Product 01</option>
          <option value="Product 02">Product 02</option>
          <option value="Product 03">Product 03</option>
          <option value="Product 04">Product 04</option>
          <option value="Product 05">Product 05</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-datatypesearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-datatypesearch" class="elementor-field-label">
        Data Type							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[datatypesearch][]" id="form-field-datatypesearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Real Data">Real Data</option>
          <option value="Learning Data">Learning Data</option>
          <option value="Testing Data">Testing Data</option>
          <option value="Archived Data">Archived Data</option>
          <option value=""></option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rightssearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rightssearch" class="elementor-field-label">
        Operational Rights							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rightssearch][]" id="form-field-rightssearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="View">View</option>
          <option value="Add/Edit">Add/Edit</option>
          <option value="Delete">Delete</option>
          <option value="Admin">Admin</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolessearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolessearch" class="elementor-field-label">
        Roles							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolessearch][]" id="form-field-rolessearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Role 01">Role 01</option>
          <option value="Role 02">Role 02</option>
          <option value="Role 03">Role 03</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-enabledportfolios elementor-col-100">
                <label for="form-field-enabledportfolios" class="elementor-field-label">
        Enabled Portfolios							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[enabledportfolios]" id="form-field-enabledportfolios" class="elementor-field-textual elementor-size-sm">
          <option value="Portfolio name 01, Role Name, Member Type">Portfolio name 01, Role Name, Member Type</option>
          <option value="Portfolio name 02, Role Name, Member Type">Portfolio name 02, Role Name, Member Type</option>
          <option value="Portfolio name 03, Role Name, Member Type">Portfolio name 03, Role Name, Member Type</option>
          <option value="Portfolio name 04, Role Name, Member Type">Portfolio name 04, Role Name, Member Type</option>
          <option value="Portfolio name 05, Role Name, Member Type">Portfolio name 05, Role Name, Member Type</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-disabledportfolios elementor-col-100">
                <label for="form-field-disabledportfolios" class="elementor-field-label">
        Disabled Portfolios							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[disabledportfolios]" id="form-field-disabledportfolios" class="elementor-field-textual elementor-size-sm">
          <option value="Portfolio name 01, Role Name, Member Type">Portfolio name 01, Role Name, Member Type</option>
          <option value="Portfolio name 02, Role Name, Member Type">Portfolio name 02, Role Name, Member Type</option>
          <option value="Portfolio name 03, Role Name, Member Type">Portfolio name 03, Role Name, Member Type</option>
          <option value="Portfolio name 04, Role Name, Member Type">Portfolio name 04, Role Name, Member Type</option>
          <option value="Portfolio name 05, Role Name, Member Type">Portfolio name 05, Role Name, Member Type</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-portfoliodetails elementor-col-100">
                <label for="form-field-portfoliodetails" class="elementor-field-label">
        Details of selected Portfolio							</label>
    <textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[portfoliodetails]" id="form-field-portfoliodetails" rows="4" placeholder="&lt;portfolio name, code, spec, universal code, details&gt; &lt;member name, code, spec, universal code, details&gt; &lt;member type&gt; &lt;data type&gt; &lt;operational rights&gt;  &lt;role Name, code, spec, universal code, details&gt; &lt;(level 1 name,Item name), (level 2 name,Item name), (level 3 name,Item name), (level 4 name,Item name), (level 5 name,Item name)&gt; &lt;layer #&gt;"></textarea>				</div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-selectenabledisable elementor-col-100">
                <label for="form-field-selectenabledisable" class="elementor-field-label">
        Enable / Disable Selected Portfolio							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[selectenabledisable]" id="form-field-selectenabledisable" class="elementor-field-textual elementor-size-sm">
          <option value="Enable">Enable</option>
          <option value="Disable">Disable</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
  <button type="submit" class="elementor-button elementor-size-md" id="enabledisable">
    <span >
                      <span class=" elementor-button-icon">
                                            </span>
                                    <span class="elementor-button-text">Enable / Disable selected Portfolio</span>
                  </span>
  </button>
  </div>
  </div>
  </form>
  </div>
  </div>
  <div class="elementor-element elementor-element-999f743 elementor-align-justify elementor-widget elementor-widget-button" data-id="999f743" data-element_type="widget" data-widget_type="button.default">
  <div class="elementor-widget-container">
  <div class="elementor-button-wrapper">
  <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button" id="duplicateportfolio">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">Duplicate selected Portfolio to create new</span>
  </span>
  </a>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-69e159e elementor-align-justify elementor-widget elementor-widget-button" data-id="69e159e" data-element_type="widget" data-widget_type="button.default">
  <div class="elementor-widget-container">
  <div class="elementor-button-wrapper">
  <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button" id="refreshsearchportfolio">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">Refresh Search</span>
  </span>
  </a>
  </div>
  </div>
  </div>
    </div>
  </div>
  </div>
        </div>
  </div>
  </section>

{% endblock product %}