{% extends 'index.html' %}
{% block product %}
<section class="elementor-section elementor-inner-section elementor-element elementor-element-0694ec0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0694ec0" data-element_type="section" id="roleset">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-row">
  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-589354f" data-id="589354f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-d63e978 elementor-widget elementor-widget-text-editor" data-id="d63e978" data-element_type="widget" id="roletotal" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p style="text-align: center;"><b><i>ROLE</i></b></p><p style="text-align: center;">&lt;<em><strong>Total enabled roles</strong></em>&gt;</p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-9d8e4c1 elementor-widget elementor-widget-text-editor" data-id="9d8e4c1" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p><b><i>Create Roles &#8211; Define Roles in my organisation</i></b></p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-a1eabd1 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="a1eabd1" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
  <div class="elementor-widget-container">
  <form class="elementor-form" method="post" name="New Form">
  <input type="hidden" name="post_id" value="5880"/>
  <input type="hidden" name="form_id" value="a1eabd1"/>
  <input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />
  
      <input type="hidden" name="queried_id" value="5880"/>
  
  <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-itemlevel1 elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-itemlevel1" class="elementor-field-label">
        Select Item in Level 1							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[itemlevel1]" id="form-field-itemlevel1" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-itemlevel2 elementor-col-100">
                <label for="form-field-itemlevel2" class="elementor-field-label">
        Select Item in Level 2							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[itemlevel2]" id="form-field-itemlevel2" class="elementor-field-textual elementor-size-sm">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-itemlevel3 elementor-col-100">
                <label for="form-field-itemlevel3" class="elementor-field-label">
        Select Item in Level 3							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[itemlevel3]" id="form-field-itemlevel3" class="elementor-field-textual elementor-size-sm">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-itemlevel4 elementor-col-100">
                <label for="form-field-itemlevel4" class="elementor-field-label">
        Select Item in Level 4							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[itemlevel4]" id="form-field-itemlevel4" class="elementor-field-textual elementor-size-sm">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-itemlevel5 elementor-col-100">
                <label for="form-field-itemlevel5" class="elementor-field-label">
        Select Item in Level 5							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[itemlevel5]" id="form-field-itemlevel5" class="elementor-field-textual elementor-size-sm">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-selectlayerforroles elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-selectlayerforroles" class="elementor-field-label">
        Select Security Layer							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[selectlayerforroles]" id="form-field-selectlayerforroles" class="elementor-field-textual elementor-size-sm" required="required" aria-required="true">
          <option value="Layer 01">Layer 01</option>
          <option value="Layer 02">Layer 02</option>
          <option value="Layer 03">Layer 03</option>
          <option value="Layer 04">Layer 04</option>
          <option value="Layer 05">Layer 05</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-role_name elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-role_name" class="elementor-field-label">
        Role Name							</label>
                    <input size="1" type="text" name="form_fields[role_name]" id="form-field-role_name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Role name" required="required" aria-required="true">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-role_code elementor-col-100 elementor-field-required elementor-mark-required">
                <label for="form-field-role_code" class="elementor-field-label">
        Role Code (Unique)							</label>
                    <input size="1" type="text" name="form_fields[role_code]" id="form-field-role_code" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Role Code" required="required" aria-required="true">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-role_spec elementor-col-100">
                <label for="form-field-role_spec" class="elementor-field-label">
        Role Specification							</label>
                    <input size="1" type="text" name="form_fields[role_spec]" id="form-field-role_spec" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Role Specifications">
              </div>
        <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-role_u_code elementor-col-100">
                <label for="form-field-role_u_code" class="elementor-field-label">
        Role Universal Code							</label>
                    <input size="1" type="text" name="form_fields[role_u_code]" id="form-field-role_u_code" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Role universal code">
              </div>
        <div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-role_det elementor-col-100">
                <label for="form-field-role_det" class="elementor-field-label">
        Role Details							</label>
    <textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[role_det]" id="form-field-role_det" rows="4" placeholder="Role details"></textarea>				</div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
  <button type="submit" class="elementor-button elementor-size-md" id="createrole">
    <span >
                      <span class=" elementor-button-icon">
                                            </span>
                                    <span class="elementor-button-text">Create Role</span>
                  </span>
  </button>
  </div>
  </div>
  </form>
  </div>
  </div>
    </div>
  </div>
  </div>
  <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-95b5cdf" data-id="95b5cdf" data-element_type="column">
  <div class="elementor-column-wrap elementor-element-populated">
      <div class="elementor-widget-wrap">
    <div class="elementor-element elementor-element-e43920a elementor-widget elementor-widget-text-editor" data-id="e43920a" data-element_type="widget" data-widget_type="text-editor.default">
  <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
  <p><b><i>Roles created in my organisation</i></b></p>					</div>
    </div>
  </div>
  <div class="elementor-element elementor-element-9c0eadb elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="9c0eadb" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
  <div class="elementor-widget-container">
  <form class="elementor-form" method="post" name="New Form">
  <input type="hidden" name="post_id" value="5880"/>
  <input type="hidden" name="form_id" value="9c0eadb"/>
  <input type="hidden" name="referer_title" value="uxlivinglab - innovating from people&#039;s mind" />
  
      <input type="hidden" name="queried_id" value="5880"/>
  
  <div class="elementor-form-fields-wrapper elementor-labels-above">
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolelevel1search elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolelevel1search" class="elementor-field-label">
        Level 1							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolelevel1search][]" id="form-field-rolelevel1search" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
          <option value="Item 4">Item 4</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolelevel2search elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolelevel2search" class="elementor-field-label">
        Level 2							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolelevel2search][]" id="form-field-rolelevel2search" class="elementor-field-textual elementor-size-sm" multiple="" size="5">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
          <option value="Item 4">Item 4</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolelevel3search elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolelevel3search" class="elementor-field-label">
        Level 3							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolelevel3search][]" id="form-field-rolelevel3search" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
          <option value="Item 4">Item 4</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolelevel4search elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolelevel4search" class="elementor-field-label">
        Level 4							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolelevel4search][]" id="form-field-rolelevel4search" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
          <option value="Item 4">Item 4</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolelevel5search elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-rolelevel5search" class="elementor-field-label">
        Level 5							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolelevel5search][]" id="form-field-rolelevel5search" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
          <option value="Item 4">Item 4</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-layerrolesearch elementor-col-100 elementor-field-type-select-multiple">
                <label for="form-field-layerrolesearch" class="elementor-field-label">
        Security Layer							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[layerrolesearch][]" id="form-field-layerrolesearch" class="elementor-field-textual elementor-size-sm" multiple="">
          <option value="Layer 1">Layer 1</option>
          <option value="Layer 2">Layer 2</option>
          <option value="Layer 3">Layer 3</option>
          <option value="Layer 4">Layer 4</option>
          <option value="Layer 5">Layer 5</option>
          <option value="Layer 6">Layer 6</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolessearchresultenabled elementor-col-100">
                <label for="form-field-rolessearchresultenabled" class="elementor-field-label">
        Enabled Roles							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolessearchresultenabled]" id="form-field-rolessearchresultenabled" class="elementor-field-textual elementor-size-sm">
          <option value="Role 1">Role 1</option>
          <option value="Role 2">Role 2</option>
          <option value="Role 3">Role 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-rolessearchresultdisabled elementor-col-100">
                <label for="form-field-rolessearchresultdisabled" class="elementor-field-label">
        Disabled Roles							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[rolessearchresultdisabled]" id="form-field-rolessearchresultdisabled" class="elementor-field-textual elementor-size-sm">
          <option value="Role 1">Role 1</option>
          <option value="Role 2">Role 2</option>
          <option value="Role 3">Role 3</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-roledetails elementor-col-100">
                <label for="form-field-roledetails" class="elementor-field-label">
        Details of selected Role							</label>
    <textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[roledetails]" id="form-field-roledetails" rows="4"></textarea>				</div>
        <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-enabledisablerole elementor-col-100">
                <label for="form-field-enabledisablerole" class="elementor-field-label">
        Enable / Disable selected Role							</label>
        <div class="elementor-field elementor-select-wrapper ">
  <select name="form_fields[enabledisablerole]" id="form-field-enabledisablerole" class="elementor-field-textual elementor-size-sm">
          <option value="Enable">Enable</option>
          <option value="Disable">Disable</option>
      </select>
  </div>
    </div>
        <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
  <button type="submit" class="elementor-button elementor-size-md" id="enabledisablebtn">
    <span >
                      <span class=" elementor-button-icon">
                                            </span>
                                    <span class="elementor-button-text">Enable / Disable selected Role</span>
                  </span>
  </button>
  </div>
  </div>
  </form>
  </div>
  </div>
  <div class="elementor-element elementor-element-12c1a5b elementor-align-justify elementor-widget elementor-widget-button" data-id="12c1a5b" data-element_type="widget" data-widget_type="button.default">
  <div class="elementor-widget-container">
  <div class="elementor-button-wrapper">
  <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button" id="duplicaterole">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">Duplicate selected Role to create new</span>
  </span>
  </a>
  </div>
  </div>
  </div>
  <div class="elementor-element elementor-element-933a085 elementor-align-justify elementor-widget elementor-widget-button" data-id="933a085" data-element_type="widget" data-widget_type="button.default">
  <div class="elementor-widget-container">
  <div class="elementor-button-wrapper">
  <a href="#" class="elementor-button-link elementor-button elementor-size-sm" role="button" id="refreshsearchrole">
    <span class="elementor-button-content-wrapper">
    <span class="elementor-button-text">Refresh Search</span>
  </span>
  </a>
  </div>
  </div>
  </div>
    </div>
  </div>
  </div>
        </div>
  </div>
  </section>

{% endblock product %}